body {
  padding: 50px;
  font-family: "Ubuntu", sans-serif;
  background-color: blanchedalmond;
}

a {
  color: #0462ba;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ea6f36;
}

button {
  font-family: "Ubuntu", sans-serif;
}

button.new-skill-btn,
button.edit-skill-btn {
  padding: 0.3rem;
  margin-top: 1rem;
}

div.new-skill {
  padding: 0.5rem 0 0.5rem 0;
}

input {
  margin-top: 0.3rem;
  padding: 0.3rem;
}

p {
  display: inline;
}

p.skills {
  padding-left: 0.3rem;
}

ul {
  margin: 2.5rem 0 2.5rem 0;
  padding-left: 1rem;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0.2rem;
}

section {
  margin: 2.5rem 0 2.5rem 0;
}

.delete-form {
  margin-bottom: 0.7rem;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
}

.delete-form button {
  color: rgb(186, 186, 186);
  background-color: transparent;
  font-weight: bold;
  padding: 0.5px 3px 0.5px 3px;
  border: none;
}

.delete-form button:hover {
  cursor: pointer;
}
