body {
  padding: 50px;
  font-family: "Ubuntu", sans-serif;
  background-color: blanchedalmond;
}

a {
  color: #0462ba;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ea6f36;
}

button {
  font-family: "Ubuntu", sans-serif;
}

button.new-skill-btn {
  padding: 0.3rem;
  margin-top: 1rem;
}

div.new-skill {
  padding: 0.5rem 0 0.5rem 0;
}

input {
  margin-top: 0.3rem;
  padding: 0.3rem;
}

p {
  display: inline;
}

p.skills {
  padding-left: 0.3rem;
}

ul {
  margin: 2.5rem 0 2.5rem 0;
  padding-left: 1rem;
}

li {
  list-style: none;
  padding: 0.2rem;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  color: blanchedalmond;
  background-color: #0462ba;
  font-weight: bold;
  padding: 0.5px 3px 0.5px 3px;
  border: 0.5px solid #0462ba;
  border-radius: 50%;
}

.delete-form button:hover {
  background-color: #ea6f36;
  border: 0.5px solid #ea6f36;
  cursor: pointer;
}
